table, th, td, tr {
    border: 1px solid black;
    text-align: center;
}

td td:last-child{
    width: 1%;
    white-space: nowrap;
}

button {
    align-self: flex-start;
}

canvas {
    position: sticky;
    right: 30px;
    border: 3px;
}